upload hasil extract into ur own drive. pastikan upload di satu account yang sama dengan colab. Misal, kalo selama ini running colab pake account agung123@gmail.com, ya berarti up drive nya account yang sama. abis itu running code berikut ini

In [112]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

pastikan seluruh permission activate ya, semua di checklist. path base drive itu ada di

`drive/MyDrive/...`

abis itu, karena datanya masih dalam format html, yang artinya we must crawling it firstly, then u should import the html so we can do the crwaling

In [113]:
actors = '/content/drive/MyDrive/movie/data/actors.html'
awards = '/content/drive/MyDrive/movie/data/awtypes.html'
casts = '/content/drive/MyDrive/movie/data/casts.html'
locales = '/content/drive/MyDrive/movie/data/locales.html'
main = '/content/drive/MyDrive/movie/data/main.html'
people = '/content/drive/MyDrive/movie/data/people.html'
quotes = '/content/drive/MyDrive/movie/data/quotes.html'
remakes = '/content/drive/MyDrive/movie/data/remakes.html'
studios = '/content/drive/MyDrive/movie/data/studios.html'
synonyms = '/content/drive/MyDrive/movie/data/synonyms.html'

nah abis itu kita bisa crawling data nya deh. pertama import dulu library yang perlu dipake, but if u havent install the library, u should do this

In [114]:
!pip install -q beautifulsoup4

In [115]:
import pandas as pd
from bs4 import BeautifulSoup
import re

abis itu bisa masukin code ini

In [116]:
'''
disini pertama buka dulu file html nya, abis itu baru panggil library beautifulsoupnya.
abis itu buat list yang nyimpen hasil extraction nya
'''

with open(actors, 'r', encoding='utf-8') as file:
    actors_html = file.read()

soup = BeautifulSoup(actors_html, 'html.parser')
tables_actors = soup.find_all('table')
actors_data = []

## Actors

In [117]:
for table in tables_actors:
    rows = table.find_all('tr')[1:]

    for row in rows:
        columns = str(row).split('<td>')

        if len(columns) > 1:
            row_data = [re.sub(r'<.*?>', '', col).strip() for col in columns[1:]]

            if len(row_data) >= 11:
                actor_data = {
                    'stage': row_data[0],
                    'dow': row_data[1],
                    'birth': row_data[2],
                    'giv': row_data[3],
                    'gen': row_data[4],
                    'dob': row_data[5],
                    'dod': row_data[6],
                    'type': row_data[7],
                    'orig': row_data[8],
                    'pic': row_data[9],
                    'notes': row_data[10].strip().removesuffix('|').strip()
                }
                actors_data.append(actor_data)

In [118]:
df_actors = pd.DataFrame(actors_data)

In [119]:
df_actors.head()

,stage,dow,birth,giv,gen,dob,dod,type,orig,pic,notes
0,Willie Aames,,Aames,William,M,1960,199x,RU:,\Am,,
1,Bud Abbott,1939-1956,Abbott,William,M,1895,1974,R:straight,comedian,\Am,
2,Diahnne Abbott,1976-1982,,,F,[1][23],199x,R:sexy,\Am,,Cit(2) Mt(Robert deNiro;)
3,George Abbott,1928-1958,Abbott,George,M,1887,199x,"R:playwright, producer",\Am,,
4,John Abbott,1937-1975,Abbott,John,M,1905,199x,"R:staring eyes, eccentric parts",\Br,,

In [120]:
df_actors.to_csv('actors.csv', index=False, encoding='utf-8')

## Awards

In [121]:
with open(awards, 'r', encoding='utf-8') as file:
    awards_html = file.read()

soup = BeautifulSoup(awards_html, 'html.parser')
table_awards = soup.find('table')
awards_data = []

In [122]:
if table_awards:
    rows = table_awards.find_all('tr')[1:]

    for row in rows:
        columns = str(row).split('<td>')

        if len(columns) > 1:
            row_data = [re.sub(r'<.*?>', '', col).strip() for col in columns[1:]]

            if len(row_data) >= 6:
                award_info = {
                    'award': row_data[0],
                    'awarding_organization': row_data[1],
                    'Country': row_data[2],
                    'colloquial': row_data[3],
                    'year': row_data[4],
                    'notes': row_data[5].removesuffix('|').strip()
                }
                awards_data.append(award_info)

In [123]:
df_awards = pd.DataFrame(awards_data)

In [124]:
df_awards.to_csv('awards.csv', index=False, encoding='utf-8')

## Cast (skip dulu table formatnya ga jelas)

## Locales

In [125]:
with open(locales, 'r', encoding='latin-1') as file:
    locales_html = file.read()

soup = BeautifulSoup(locales_html, 'html.parser')
table = soup.find('table')
locales_data = []

In [126]:
if table:
    rows = table.find_all('tr')[1:]

    for row in rows:
        columns = str(row).split('<td>')

        if len(columns) >= 3:
            code = re.sub('<.*?>', '', columns[1]).strip()
            description = re.sub('<.*?>', '', columns[2]).strip().removesuffix('|').strip()

            locales_data.append({
                'code': code,
                'description': description
            })

In [127]:
df_locales = pd.DataFrame(locales_data)

In [128]:
df_locales.to_csv('locales.csv', index=False, encoding='utf-8')

## Main (skip juga rada ribet soalnya)

## People (skip dulu header nya nyusahin)

## Quotes

In [129]:
with open(quotes, 'r', encoding='latin-1') as file:
    html_content = file.read()

soup = BeautifulSoup(html_content, 'html.parser')
table = soup.find('table')
quotes_data = []

In [130]:
if table:
    rows = table.find_all('tr')[1:]

    for row in rows:
        columns = str(row).split('<td>')

        if len(columns) >= 5:
            quote = re.sub('<.*?>', '', columns[1]).strip()
            actor = re.sub('<.*?>', '', columns[2]).strip()
            movie = re.sub('<.*?>', '', columns[3]).strip()
            year = re.sub('<.*?>', '', columns[4]).strip()

            quotes_data.append({
                'quote': quote,
                'actor': actor,
                'movie': movie,
                'year': year
            })

In [131]:
df_quotes = pd.DataFrame(quotes_data)

In [132]:
df_quotes.to_csv('quotes.csv', index=False, encoding='utf-8')

## Remakes (skip dulu header nya jg nyusahin)

## Synonyms